@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.WebDesign>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	var count = 0;
}

@Html.Partial("SimpleBanner2")

<!-- Full Page Image Header with Vertically Centered Content -->
<!-- Intro section -->
<section class="container wide-container pt-4">
	<div class="row pt-5  pb-2">
		<div class="col-12 text-center">
			<h1 class="blue-text light-text"><span class="heavy-text">@Model.H1Part1</span> @Model.H1Part2</h1>
		</div>
	</div>

	<div class="row pb-5 pb-md-5 mb-md-3 grey-text">
		<div class="col-12 text-center">
			<div class="px-3 py-4 p-md-5">
				@Model.TextBox1
			</div>
		</div>
	</div>
</section>
<!-- / Intro section -->
<!-- Hero Section -->
<section class="single-iso-background hero-iso" style="background: url('@Model.HeroBackground.Url')">
	<div class="container">
		<div class="row">
			<div class="col-12 px-5 web-hero-image-container">
				<img class="web-hero-image" src="@Model.HeroImage.Url" alt="@Path.GetFileNameWithoutExtension(@Model.HeroImage.Url).Replace("-", " ")" />
				<h4 class="boomerang-red-text pt-2">
					@Model.TagLine
				</h4>
			</div>
		</div>
	</div>
</section>
<!-- / Hero Section -->
<!-- Logo Section -->
<section>
	<div class="container">
		<div class="row pt-4 mt-4">
			<div class="col-12 px-5">
				<img class="boomerang-logo-colour center-image py-5" src="@Model.BoomerangLogoColour.Url" alt="@Path.GetFileNameWithoutExtension(@Model.BoomerangLogoColour.Url).Replace("-", " ")" />
			</div>
		</div>
	</div>
</section>
<!-- / Logo Section -->
<!-- Web Cards section -->
<section class="container-fluid box-shadow-3">
	<div class="container wide-container web-cards-container">
		<div class="row pb-5 mb-3 pb-md-5 mb-md-3 grey-text">
			@if (Model.Cards.Any())
			{
				foreach (var cards in @Model.Cards)
				{
					var card = new WebCard(cards);
					<div class="col-12 col-md-4">
						<div class="py-5 px-3 p-md-5">
							<div class="d-flex pb-4">
								<img class="" src="@card.Icon.Url" alt="">
								<h5 class="pl-2 all-caps black-text">
									@card.Title
								</h5>
							</div>
							<p class="py-3 p-md-0">
								@card.Text
							</p>
							<a href="@card.ButtonLink" class="btn btn-md btn-block btn-@card.ButtonColour.Label">@card.ButtonText</a>
						</div>
					</div>
				}
			}

		</div>
	</div>
</section>
<!-- / Web Cards section -->
<!-- Tech Gallery -->
<div class="container-fluid mb-5 logo-gallery">
	<section class="container">
		<div class="row py-5">
			<div class="col-12 text-center">
				<h2 class="pb-4">Market Leading Technology Software</h2>
				<!-- Row 1 -->
				<div class="grid-container grid-container--fit">
					<a href="https://mailchimp.com/" target="_blank" class="grid-element h-compressed img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/mailchimp-logo-horizontal-black.png" alt="Mail Chimp Logo" />
					</a>
					<a href="https://hootsuite.com/en-gb/" target="_blank" class="grid-element h-compressed img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/hootsuite-logo.png" alt="Hootsuite Logo" />
					</a>
					<a href="https://www.linkedin.com/" target="_blank" class="grid-element h-compressed img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/linkedin-logo.png" alt="LinkedIn Logo" />
					</a>
				</div>
				<!-- / Row 1 -->
				<!-- Row 2 -->
				<div class="grid-container grid-container--fit">
					<a href="https://www.semrush.com/" target="_blank" class="grid-element img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/semrush-logo.png" alt="SEMRush Logo" />
					</a>
					<a href="https://www.experian.co.uk/" target="_blank" class="grid-element img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/experian-logo.png" alt="Experian Logo" />
					</a>
					<a href="https://analytics.google.com/analytics/web/" target="_blank" class="grid-element img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/google-analyitcs-logo.png" alt="Google Analyitcs Logo" />
					</a>
					<a href="https://www.icontact.com/" target="_blank" class="grid-element img-hover-zoom--point-zoom">
						<img src="~/assets/tech-logos/iContact-logo.png" alt="iContact Logo" />
					</a>
				</div>
				<!-- Row 2 -->
				<!-- Row 3 -->
				<div class="grid-container grid-container--fit">
					<a href="https://twitter.com/?lang=en-gb" class="grid-element v-compressed img-hover-zoom--point-zoom" target="_blank">
						<img src="~/assets/tech-logos/twitter-logo-blue.png" alt="Twitter Logo" />
					</a>
					<a href="https://en-gb.facebook.com/" class="grid-element v-compressed img-hover-zoom--point-zoom" target="_blank">
						<img src="~/assets/tech-logos/facebook-logo.png" alt="Facebook Logo" />
					</a>
					<a href="https://www.instagram.com/" class="grid-element  v-compressed img-hover-zoom--point-zoom" target="_blank">
						<img src="~/assets/tech-logos/instagram-logo.png" alt="Instagram Logo" />
					</a>
					<a href="https://www.crazyegg.com/" class="grid-element img-hover-zoom--point-zoom" target="_blank">
						<img src="~/assets/tech-logos/crazy-egg-logo.png" alt="Crazy Egg Logo" />
					</a>
				</div>
				<!-- / Row 3 -->
			</div>
		</div>
	</section>
</div>
<!-- / Tech Gallery -->
<!-- Contact Form -->
<section class="hm-form contact-form grey3-bg" id="form">
	<div class="container-fluid yellow-bg main-container ">
		<div class="row mb-5">
			<div class="col-12 offset-lg-2 col-lg-6">

				@if (TempData["success"] != null)
				{
					if ((bool)TempData["success"] == true)
					{
						<div class="form-msg">
							<p class="success">Thank you, your message has been sent to The PX Partnership.</p>
							@if (TempData["Message"] != null)
							{
								var MailchimpMessage = (MvcHtmlString)TempData["Message"];
								<div class="mail-list">
									@MailchimpMessage
								</div>
							}
						</div>
					}
					else if ((bool)TempData["success"] == false)
					{
						<div class="form-msg">
							@Html.ValidationMessage("reCAPTCHA", new { @class = "text-danger" })
						</div>
					}
				}
				@Html.Action("~/views/partials/BoomerangForm.cshtml")
			</div>
			<div class="d-none d-lg-block col-lg-4">
				<img class="boomerang-logo-colour bottom-left-image" src="@Model.BoomerangLogoColour.Url" alt="@Path.GetFileNameWithoutExtension(@Model.BoomerangLogoColour.Url).Replace("-", " ")" />
			</div>
		</div>
	</div>
</section>
<!-- Contact Form  -->